.DS_Store
.idea/
*.iml
data
logs
target
docker-compose/volumes/rocketmq/logs
docker-compose/volumes/rocketmq/store
docker-compose/volumes/nacos/logs
docker-compose/volumes/mysql
docker-compose/volumes/nginx/dist
docker-compose/volumes/nginx/log

