.DS_Store
.idea/
*.iml
data
logs
target
doc/docker-compose/volumes/rocketmq/logs
doc/docker-compose/volumes/rocketmq/store
doc/docker-compose/volumes/nacos/logs
doc/docker-compose/volumes/mysql
doc/docker-compose/volumes/nginx/dist
doc/docker-compose/volumes/nginx/log

